.test1{
    background-color: brown;
    color: wheat;
    opacity: 0.8;
}

.test2{
    background-color: salmon ;
    color : black;
    opacity: 0,8;
}

.testgray80{
    background-color: gray;
    color: white;
    opacity: 0.8;
}

.testgray60{
    background-color: gray;
    color: white;
    opacity: 0.8;
}